@charset "ISO-8859-1";
.sidebar{
	margin-top:4%;
	position:fixed;
	top:0px;
	width:15%;
	bottom:0px;
	background:grey;
	color:white;
}

input:required {  box-shadow:none;}
input:required:invalid {outline: none;}
textarea:required:invalid { outline: none; }
.sidebar div:first-child{
	background:rgba(100,100,100,0.7);
}
.sidebar div:hover{
	background:rgba(100,100,100,0.7);
}
.sidebar div a{
	padding:15%;
	displat:block;
	display:block;
}
/* Styling continue button */
.main_content div input[type=submit]{
	display:none;
	background:black;
	color:white;
	border:none;
	padding-top:1%;
	padding-bottom:1%;
	padding-left:5%;
	padding-right:5%;
	cursor:pointer;
}

a{
	text-decoration:none;
}


.main_content{
	width:60%;

	margin:10% auto;
}
.main_content p{
	padding:5%;
	border-bottom:solid 3px rgba(0,0,0,0.5);
	font-size:120%;
}
.edit:after{
	font-family: 'FontAwesome';
	content: "\f044";
	float:right;
	cursor:pointer;
}