@charset "ISO-8859-1";
.table_body{
margin-top:20%;
}
table{
height:40%;
padding:1.2%;
border:5px solid #9397CD;
display:inline-block;
}

td{
	
padding-top:7%;
padding-bottom:2%;
border-bottom:1px solid black;
}
th{
border-bottom:1px solid black;
font-size:150%;
padding-bottom:1%;
}
.button{
text-align:center;
border:none;
}

.button button{
width:100%;
color:white;
cursor:pointer;
font-size:100%;
background:rgb(64,61,60);
}
