@charset "ISO-8859-1";
.sidebar{
	margin-top:4%;
	position:fixed;
	top:0px;
	width:15%;
	bottom:0px;
	background:grey;
	color:white;
	z-index:-1;
}
.sidebar div:nth-Child(2){
	background:rgba(100,100,100,0.7);
}
.sidebar div:hover{
	background:rgba(100,100,100,0.7);
}
.sidebar div a{

	padding:15%;
	displat:block;
	display:block;
}
a{
	text-decoration:none;
}